/* 
███████╗██╗██╗   ██╗███████╗███████╗████████╗ █████╗ ██████╗ 
██╔════╝██║██║   ██║██╔════╝██╔════╝╚══██╔══╝██╔══██╗██╔══██╗
█████╗  ██║██║   ██║█████╗  ███████╗   ██║   ███████║██████╔╝
██╔══╝  ██║╚██╗ ██╔╝██╔══╝  ╚════██║   ██║   ██╔══██║██╔══██╗
██║     ██║ ╚████╔╝ ███████╗███████║   ██║   ██║  ██║██║  ██║
╚═╝     ╚═╝  ╚═══╝  ╚══════╝╚══════╝   ╚═╝   ╚═╝  ╚═╝╚═╝  ╚═╝
		  5star.tebex.io | Discord/HdEzqEJBdh
*/

* {
	transition: all ease 0.3s;
}

body {
	overflow: hidden;
}

#Display {
	opacity: 0;
	position: absolute;
	left: 0vw;
	bottom: 0vw;
}

#colors {
	position: absolute;
	width: 16.146vw;
	height: 3.073vw;
	left: 82.76vw;
	bottom: 3.15vw;
	overflow: visible;
}

#green {
	position: absolute;
	width: 8.49vw;
	height: 2.5vw;
	left: 0.26vw;
	top: 0.573vw;
	overflow: visible;
}

.green_i {
	background-color: rgba(21, 150, 41, 1);
	position: absolute;
	overflow: visible;
	width: 0.469vw;
	height: 2.5vw;
	left: 0vw;
	border-radius: 0.208vw;
	top: 0vw;
}

#red {
	position: absolute;
	width: 5.208vw;
	height: 3.073vw;
	left: 10.938vw;
	top: 0vw;
	overflow: visible;
}

.red_v {
	position: absolute;
	background-color: rgba(156, 36, 36, 1);
	overflow: visible;
	border-radius: 0.208vw;
	width: 0.521vw;
	height: 3.073vw;
	left: 0vw;
	top: 0vw;
}

#yellow {
	position: absolute;
	width: 1.927vw;
	height: 2.396vw;
	left: 8.75vw;
	top: 0.677vw;
	overflow: visible;
}

.yellow_ {
	position: absolute;
	background-color: rgba(252, 243, 27, 1);
	overflow: visible;
	border-radius: 0.208vw;
	width: 0.469vw;
	height: 2.396vw;
	left: 0vw;
	top: 0vw;
}

#DataUp {
	position: absolute;
	bottom: 0;
	transition: all ease 0.5s;
}

#speed {
	left: 82.76vw;
	bottom: 6.5vw;
	position: absolute;
	overflow: visible;
	width: 10.573vw;
	height: 3.438vw;
	text-align: left;
	font-family: Goldman;
	font-style: normal;
	font-weight: bold;
	font-size: 2.865vw;
	color: rgb(177, 177, 177);
	text-shadow: 0vw 0.152vw 0.204vw rgb(0, 0, 0);
}

#fuel {
	left: 96.51vw;
	bottom: 7.22vw;
	position: absolute;
	overflow: visible;
	width: 1.042vw;
	height: 0.625vw;
	text-align: right;
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 0.521vw;
	color: rgba(255, 255, 255, 1);
}

#damage {
	left: 93.906vw;
	bottom: 7.22vw;
	position: absolute;
	overflow: visible;
	width: 1.042vw;
	height: 0.625vw;
	text-align: right;
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 0.521vw;
	color: rgba(255, 255, 255, 1);
}

#line_vector {
	position: absolute;
	width: 11.276vw;
	height: 0.718vw;
	left: 87.63vw;
	bottom: 6.22vw;
	overflow: visible;
}

#damage_icon {
	position: absolute;
	width: 1.563vw;
	height: 1.563vw;
	left: 94.948vw;
	bottom: 7vw;
	overflow: visible;
}

#fuel_icon {
	position: absolute;
	width: 1.354vw;
	height: 1.485vw;
	left: 97.552vw;
	bottom: 7vw;
	overflow: visible;
}

#dataDown {
	position: absolute;
	width: 15.625vw;
	height: 1.51vw;
	left: 83.021vw;
	bottom: 1vw;
	overflow: visible;
}

#motor_icon {
	position: absolute;
	width: 1.823vw;
	height: 1.351vw;
	left: 0vw;
	top: 0vw;
	overflow: visible;
}

#doors_icon {
	position: absolute;
	width: 1.406vw;
	height: 1.406vw;
	left: 4.792vw;
	top: 0vw;
	overflow: visible;
}

#seatbelt_icon {
	position: absolute;
	width: 1.51vw;
	height: 1.51vw;
	left: 14.115vw;
	top: 0vw;
	overflow: visible;
}

#light_icon {
	position: absolute;
	width: 1.927vw;
	height: 1.344vw;
	left: 9.323vw;
	top: 0vw;
	overflow: visible;
}